/* this is the styles for the inner-accordion of the faq page */

/** Mobile view */
/* max-width: 500px */
@media screen and (width <= 31.25em) {
	/* //////////////// */
	/** WHEN CLOSED:--- */
	/* ////////////// */
	.accordion-item {
		/* outline: 2px solid black; */

		border-bottom: 4px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-750);
		}
	}

	.accordion-title {
		/* outline: 2px solid yellow; */

		padding: 0rem 0.5rem 0rem 0;
		display: inline-block;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-bold);
		line-height: var(--lh-400);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

		/* /////////////// */
		.accordion-content-text {
			padding: 0.8rem 0.5rem 0.8rem 0.5rem;

			font-family: var(--ff-primary);
			font-size: var(--fs-800);
			font-weight: var(--fw-regular);
			line-height: var(--lh-410);
			text-align: left;
			color: var(--clr-tertiary-100);
		}
	}

	/* ////////////////// */
	/** WHEN OPENED:--- */
	/* ///////////////// */
	.accordion button[aria-expanded="true"] {
		border-bottom: 2px solid var(--clr-secondary-650);
	}

	.accordion button[aria-expanded="true"] .accordion-title {
		color: var(--clr-tertiary-200);
	}

	.accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.accordion button[aria-expanded="true"] + .accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <= 54.69em) {
	/* //////////////// */
	/** WHEN CLOSED:--- */
	/* ////////////// */
	.accordion-item {
		/* outline: 2px solid black; */

		border-bottom: 4px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-750);
		}
	}

	.accordion-title {
		/* outline: 2px solid yellow; */

		display: inline-block;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

		/* /////////////// */
		.accordion-content-text {
			padding: 0.8rem 0.5rem 0.8rem 0.5rem;

			font-family: var(--ff-primary);
			font-size: var(--fs-800);
			font-weight: var(--fw-regular);
			line-height: var(--lh-410);
			text-align: left;
			color: var(--clr-tertiary-100);
		}
	}

	/* ////////////////// */
	/** WHEN OPENED:--- */
	/* ///////////////// */
	.accordion button[aria-expanded="true"] {
		border-bottom: 2px solid var(--clr-secondary-650);
	}

	.accordion button[aria-expanded="true"] .accordion-title {
		color: var(--clr-tertiary-200);
	}

	.accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.accordion button[aria-expanded="true"] + .accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {
	/* //////////////// */
	/** WHEN CLOSED:--- */
	/* ////////////// */
	.accordion-item {
		/* outline: 2px solid black; */

		border-bottom: 4px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-750);
		}
	}

	.accordion-title {
		outline: 2px solid yellow;

		padding: 1rem 1.5rem 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-600);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

		/* /////////////// */
		.accordion-content-text {
			padding: 0.7rem 0.5rem 0.7rem 0.5rem;

			font-family: var(--ff-primary);
			font-size: var(--fs-700);
			font-weight: var(--fw-regular);
			line-height: var(--lh-410);
			text-align: left;
			color: var(--clr-tertiary-100);
		}
	}

	/* ////////////////// */
	/** WHEN OPENED:--- */
	/* ///////////////// */
	.accordion button[aria-expanded="true"] {
		border-bottom: 2px solid var(--clr-secondary-650);
	}

	.accordion button[aria-expanded="true"] .accordion-title {
		color: var(--clr-tertiary-200);
	}

	.accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.accordion button[aria-expanded="true"] + .accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}
