/* this code contains styles for the accordions of IAS faq */

html {
	/* this  makes the parent accordion remain in screen view when clicked */

	scroll-behavior: smooth;
	/* scroll-padding: 40rem; */
}


/** Mobile view */
/* max-width: 500px */
@media screen and (max-width: 31.25em) {

	/** layout for the accordion section */
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;

		margin: 0 auto;
		padding: 2rem 1rem 4rem 1rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
		margin: 0 auto;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 0rem 0.5rem 0rem 0;
		display: inline-block;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

	}

	.parent-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		width: 100%;
		padding: 0rem 0.5rem 0rem 0.5rem;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid grey; */

		padding: 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.parent-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion button[aria-expanded="true"] .parent-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.parent-accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.parent-accordion button[aria-expanded="true"]+.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** CHILD ACCORDION STYLES */

	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */

	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 10px solid var(--clr-gen-website-bckgrd);
		width: 97%;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		padding: 0.5rem 0.5rem;
		width: 100%;
		display: block;
		position: relative;

		text-align: left;
		border-radius: 10px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 0rem 2rem 0rem 0;
		display: inline-block;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-black);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	/* style content inside child accordion */
	.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* content wont show beneath the child accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.child-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);


		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-700);
		}
	}

	.child-accordion button[aria-expanded="true"] .child-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.child-accordion button[aria-expanded="true"] .icon {
		background-color: var(--clr-neutral-black);
	}

	.child-accordion button[aria-expanded="true"] .icon::before {

		border: 3px solid var(--clr-neutral-white-2);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.child-accordion button[aria-expanded="true"]+.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (min-width: 31.25em) and (max-width: 54.69em) {

	/** layout for the accordion section */
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;

		margin: 0 auto;
		padding: 2rem 1rem 4rem 1rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
		max-width: var(--width__900px);
		margin: 0 auto;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 0rem 1.5rem 0rem 0;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

	}

	.parent-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		width: 100%;
		padding: 0rem 0.5rem 0rem 0.5rem;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid grey; */

		padding: 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.parent-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion button[aria-expanded="true"] .parent-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.parent-accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.parent-accordion button[aria-expanded="true"]+.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** CHILD ACCORDION STYLES */

	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */

	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 10px solid var(--clr-gen-website-bckgrd);
		width: 97%;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		padding: 0.5rem 0.5rem;
		width: 100%;
		display: block;
		position: relative;

		text-align: left;
		border-radius: 10px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 1rem 2rem 1rem 0;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-black);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	/* style content inside child accordion */
	.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* content wont show beneath the child accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.child-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);


		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-700);
		}
	}

	.child-accordion button[aria-expanded="true"] .child-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.child-accordion button[aria-expanded="true"] .icon {
		background-color: var(--clr-neutral-black);
	}

	.child-accordion button[aria-expanded="true"] .icon::before {

		border: 3px solid var(--clr-neutral-white-2);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.child-accordion button[aria-expanded="true"]+.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}

/** Screens > 875px */
@media screen and (min-width: 54.69em) {

	/** layout for the accordion section */
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;
		max-width: var(--width__1200px);

		margin: 0 auto;
		padding: 4rem 1rem 4rem 1rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
		max-width: var(--width__1200px);
		max-width: var(--width__900px);
		margin: 0 auto;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}


	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 10px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 0rem 1.5rem 0rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-500);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-white-2);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* keeps the content from showing beneath the accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;

	}

	.parent-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	.parent-accordion-content {
		/* outline: 2px solid red; */

		width: 100%;
		padding: 0rem 1rem 0rem 1rem;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid grey; */

		padding: 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.parent-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);
	}

	.parent-accordion button[aria-expanded="true"] .parent-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.parent-accordion button[aria-expanded="true"] .icon::before {
		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-tertiary-200);
		padding: 0.3rem;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.parent-accordion button[aria-expanded="true"]+.parent-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}

	/* 			 */
	/* 			 */
	/* 			 */

	/** CHILD ACCORDION STYLES */

	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */

	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
		width: 90%;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		padding: 1rem 0.5rem;
		width: 100%;
		display: block;
		position: relative;

		text-align: left;
		border-radius: 10px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		padding: 1rem 1.5rem 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		border: 3px solid var(--clr-neutral-black);
		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	/* style content inside child accordion */
	.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 0;

		/* content wont show beneath the child accordion-item when closed */
		overflow: hidden;

		/* controls the transition when closing-->going to this style */
		transition: max-height 700ms ease;
		will-change: max-height;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/* ///////////////// */
	/** WHEN OPENED */
	/* //////////////// */
	.child-accordion button[aria-expanded="true"] {
		border-bottom: 3px solid var(--clr-secondary-650);
		/* border-right: 3.5px solid var(--clr-secondary-650); */


		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-700);
		}
	}

	.child-accordion button[aria-expanded="true"] .child-accordion-title {
		color: var(--clr-tertiary-200);
	}

	.child-accordion button[aria-expanded="true"] .icon {
		background-color: var(--clr-neutral-black);
	}

	.child-accordion button[aria-expanded="true"] .icon::before {

		border: 3px solid var(--clr-neutral-white-2);
		border-right: none;
		border-bottom: none;

		transition: all 500ms ease;
	}

	.child-accordion button[aria-expanded="true"]+.child-accordion-content {
		/* outline: 2px solid red; */

		max-height: 50rem;

		/* controls the transition when opening-->going to this style */
		transition: max-height 3s ease;
		will-change: max-height;
	}
}