/* contains styles for INVESTMENT PAGE: */
/* HERO SECTION */

/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {
  .fund-hero__section {
    /* outline: 4px solid orange; */

    width: 100%;
    padding-bottom: 4rem;
  }

  .fund-hero__container {
    /* outline: 4px solid blue; */

    width: 100%;
    margin: 0 auto;
  }

  .fund-hero__image__container {
    /* outline: 2px solid red; */

    width: 100%;
    padding-bottom: 4rem;

    /* //////////////// */
    .fund-hero__image__desktop,
    .fund-hero__image__tablet-pot,
    .fund-hero__image__tablet-land {
      display: none;
    }

    /* //////////////////// */
    .fund-hero__image__mobile {
      /* outline: 2px solid green; */

      width: 100%;
    }
  }

  .fund-hero__content__container {
    /* outline: 2px solid pink; */

    width: 100%;
  }

  .fund-hero__texts__container {
    /* outline: 2px solid orchid; */

    width: 100%;
    padding-bottom: 2rem;
    text-align: center;

    /* ////////////////// */
    .fund-hero__texts {
      /* outline: 2px solid indianred; */

      font-family: var(--ff-secondary);
      font-weight: var(--fw-bold);
      font-size: var(--fs-500);
      line-height: var(--lh-550);
      letter-spacing: 2%;
      text-transform: capitalize;
      text-align: center;
      color: var(--clr-primary-650);
    }
  }

  .fund-hero__cta__container {
    /* outline: 2px solid indigo; */

    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    /* /////////////////// */
    .fund-hero__cta-button {
      font-family: var(--ff-btn);
      font-size: var(--fs-700);

      /* this helps fix the wrapping of the words in the button */
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      white-space: nowrap;
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.69em) {
  .fund-hero__section {
    /* outline: 4px solid orange; */

    width: 100%;
    padding-bottom: 8rem;
  }

  .fund-hero__container {
    /* outline: 4px solid blue; */

    width: 100%;
    margin: 0 auto;
  }

  .fund-hero__image__container {
    /* outline: 2px solid red; */

    width: 100%;
    padding-bottom: 4rem;

    /* //////////////// */
    .fund-hero__image__desktop,
    .fund-hero__image__tablet-pot,
    .fund-hero__image__mobile {
      display: none;
    }

    /* //////////////////// */
    .fund-hero__image__tablet-land {
      /* outline: 2px solid green; */

      width: 100%;
    }
  }

  .fund-hero__content__container {
    /* outline: 2px solid pink; */

    width: 100%;
  }

  .fund-hero__texts__container {
    /* outline: 2px solid orchid; */

    width: 100%;
    padding-bottom: 2rem;
    text-align: center;

    /* ////////////////// */
    .fund-hero__texts {
      /* outline: 2px solid indianred; */

      font-family: var(--ff-secondary);
      font-weight: var(--fw-bold);
      font-size: var(--fs-400);
      line-height: var(--lh-550);
      letter-spacing: 2%;
      text-transform: capitalize;
      text-align: center;
      color: var(--clr-primary-650);
    }
  }

  .fund-hero__cta__container {
    /* outline: 2px solid indigo; */

    width: 100%;
    text-align: center;

    /* /////////////////// */
    .fund-hero__cta-button {
      font-family: var(--ff-btn);
      font-size: var(--fs-600);
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {

  .fund-hero__section {
    /* outline: 4px solid orange; */

    width: 100%;
    padding-bottom: 8rem;
  }

  .fund-hero__container {
    /* outline: 4px solid blue; */

    width: 100%;
    margin: 0 auto;
  }

  .fund-hero__image__container {
    /* outline: 2px solid red; */

    width: 100%;
    padding-bottom: 6rem;

    /* //////////////// */
    .fund-hero__image__tablet-land,
    .fund-hero__image__tablet-pot,
    .fund-hero__image__mobile {
      display: none;
    }

    /* //////////////////// */
    /* not needed anymore */
    .fund-hero__image__desktop {
      /* outline: 2px solid green; */

      width: 100%;
    }
  }


  .fund-hero__content__container {
    /* outline: 2px solid pink; */

    width: 100%;
  }

  .fund-hero__texts__container {
    /* outline: 2px solid orchid; */

    width: 100%;
    padding-bottom: 2rem;
    text-align: center;

    /* ////////////////// */
    .fund-hero__texts {
      /* outline: 2px solid indianred; */

      font-family: var(--ff-secondary);
      font-weight: var(--fw-bold);
      font-size: var(--fs-200);
      line-height: var(--lh-550);
      letter-spacing: 2%;
      text-transform: capitalize;
      text-align: center;
      color: var(--clr-primary-650);
    }
  }

  .fund-hero__cta__container {
    /* outline: 2px solid indigo; */

    width: 100%;
    text-align: center;

    /* /////////////////// */
    .fund-hero__cta-button {
      font-family: var(--ff-btn);
      font-size: var(--fs-600);
    }
  }
}