/* this code contains styles for the accordions of main+IAS+signalapp faq */

html {
	/* this  makes the parent accordion remain in screen view when clicked */

	scroll-behavior: smooth;
	/* scroll-padding: 40rem; */
}


/** Mobile view */
/* max-width: 500px */
@media screen and (max-width: 31.25em) {

	/** layout for the accordion section */
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;

		padding: 2rem 0.2rem 4rem 0.2rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
	}

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.4rem 0.5rem;
		position: relative;

		text-align: left;
		width: 100%;
		border-radius: 6px;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		border: none;
		border-bottom: 0px solid var(--clr-secondary-650);
		transition: border 0.3s ease;

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		padding: 0rem;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		line-height: var(--lh-400);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* accordion Circle icon */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 20px;
		height: 20px;
		border-radius: 20px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		position: absolute;
		content: "";

		padding: 0.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);

		border: 3px solid var(--clr-neutral-white-2);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid grey; */

		padding: 1rem 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/** CHILD ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 10px solid var(--clr-gen-website-bckgrd);
		width: 98%;
		margin: 0 auto;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		padding: 0.2rem 0.5rem;
		width: 100%;
		position: relative;

		text-align: left;
		border-radius: 6px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		padding: 0rem;
		width: 88%;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-semi-bold);
		line-height: var(--lh-400);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 20px;
		height: 20px;
		border-radius: 20px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		position: absolute;
		content: "";

		border: 3px solid var(--clr-grays-610);
		padding: 0.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}
}

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (min-width: 31.25em) and (max-width: 54.69em) {

	/** layout for the accordion section */
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;
		padding: 2rem 0rem 4rem 0rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
		max-width: 600px;
		margin: 0 auto;

		padding: 0 1rem;
	}

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		text-align: left;
		width: 100%;
		background-color: var(--clr-grays-700);
		cursor: pointer;

		border: none;
		border-radius: 8px;
		border-bottom: 0px solid var(--clr-secondary-650);
		transition: border 0.3s ease;

		/* ////////////// */
		&:hover,
		&:active,
		&:focus {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		padding: 0;
		width: 80%;

		font-family: var(--ff-primary);
		font-size: var(--fs-600);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 25px;
		height: 25px;
		border-radius: 25px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		padding: 0.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);

		border: 3px solid var(--clr-neutral-white-2);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid royalblue; */

		padding: 1rem 0rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/** CHILD ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */

	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 10px solid var(--clr-gen-website-bckgrd);
		width: 98%;
		margin: 0 auto;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		/* outline: 2px solid blueviolet; */

		padding: 0.5rem 0.5rem;
		width: 100%;
		position: relative;

		text-align: left;
		border-radius: 10px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		padding: 0;
		width: 85%;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-semi-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: inline-block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 25px;
		height: 25px;
		border-radius: 25px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		padding: 0.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);

		border: 3px solid var(--clr-grays-610);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}
}

/** Screens > 875px */
@media screen and (min-width: 54.69em) {
	.faq__accordion-section {
		/* border: 2px solid magenta; */

		width: 100%;
		padding: 4rem 0rem;
	}

	.faq__accordion-container {
		/* outline: 3px solid cyan; */

		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}

	/** PARENT ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	.parent-accordion-item {
		/* outline: 2px solid blue; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
	}

	/* styling the always visible part of the accordion */
	.parent-accordion button {
		/* outline: 2px solid brown; */

		padding: 0.5rem 0.5rem;
		position: relative;

		display: block;
		text-align: left;
		width: 100%;

		background-color: var(--clr-grays-700);
		cursor: pointer;

		border-radius: 10px;
		border: none;
		border-bottom: 0px solid var(--clr-secondary-650);
		transition: border 0.3s ease;

		/* ////////////// */
		&:hover {
			background-color: var(--clr-grays-750);
		}
	}

	.parent-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		width: 80%;
		padding: 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-600);
		font-weight: var(--fw-bold);
		line-height: var(--lh-430);
		text-align: left;
		color: var(--clr-primary-650);
	}

	/* to create accordion Circle icon on the far right of title */
	.parent-accordion button .icon {
		/* outline: 2px solid red; */

		display: block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-secondary-650);
	}

	/* to create the arrow inside the accordion Circle icon */
	.parent-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);

		border: 3px solid var(--clr-neutral-white-2);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.parent-accordion-content-text {
		/* outline: 2px solid pink; */

		padding: 1rem 0rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}

	/** CHILD ACCORDION STYLES */
	/* ///////////////// */
	/** WHEN CLOSED */
	/* //////////////// */
	/* to make the child-accordion less wide than the parent */
	.child-accordion-item {
		/* outline: 2px solid brown; */

		border-bottom: 15px solid var(--clr-gen-website-bckgrd);
		width: 98%;
		margin: 0 auto;
	}

	/* styling the always visible part of the child accordion */
	.child-accordion button {
		padding: 0.5rem 0.5rem;
		width: 100%;
		position: relative;

		text-align: left;
		border-radius: 10px;
		background-color: var(--clr-grays-650);
		cursor: pointer;

		/* ////////////// */
		&:hover {
			background-color: hsl(0, 0%, 40%);

			.child-accordion-title {
				color: var(--clr-neutral-white-2);
			}
		}
	}

	.child-accordion-title {
		/* outline: 2px solid yellow; */

		display: block;
		width: 85%;
		padding: 0;

		font-family: var(--ff-primary);
		font-size: var(--fs-700);
		font-weight: var(--fw-semi-bold);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-neutral-black);
	}

	/* to create child accordion Circle icon on the far right of title */
	.child-accordion button .icon {
		/* outline: 2px solid red; */

		display: block;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translate(-50%, -50%);

		/* the circle */
		width: 30px;
		height: 30px;
		border-radius: 30px;

		border: none;
		background-color: var(--clr-neutral-white-2);
	}

	/* to create the arrow inside the child accordion Circle icon */
	.child-accordion button .icon::before {
		/* outline: 2px solid green; */

		display: block;
		position: absolute;
		content: "";

		padding: 0.3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);

		border: 3px solid var(--clr-grays-610);
		border-left: none;
		border-top: none;

		transition: all 500ms ease;
	}

	.child-accordion-content-text {
		padding: 0.7rem 0.5rem;

		font-family: var(--ff-primary);
		font-size: var(--fs-800);
		font-weight: var(--fw-regular);
		line-height: var(--lh-410);
		text-align: left;
		color: var(--clr-tertiary-100);
	}
}

/* 			 */
/* 			 */
/* 			 */
/* ///////////////////////// */
/* *General styles for accordion functionality */
/* /////////////////////// */

/* /////////////// */
/* *PARENT ACCORDION >> CLOSED */
/* ////////////// */
.parent-accordion-content {
	/* outline: 2px solid red; */

	width: 100%;
	padding: 0rem 0.5rem;

	max-height: 0;

	overflow: hidden;

	transition: max-height 700ms ease;

}

/* /////////////// */
/* *PARENT ACCORDION >> OPENED */
/* ////////////// */
.parent-accordion button[aria-expanded="true"] {
	border-bottom: 3px solid var(--clr-secondary-650);
}

.parent-accordion button[aria-expanded="true"] .parent-accordion-title {
	color: var(--clr-tertiary-200);
}

.parent-accordion button[aria-expanded="true"] .icon::before {
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	border: 3px solid var(--clr-tertiary-200);
	border-right: none;
	border-bottom: none;

	transition: all 500ms ease;
}

.parent-accordion button[aria-expanded="true"]+.parent-accordion-content {
	/* outline: 2px solid red; */

	max-height: 100rem;

	/* controls the transition when opening-->going to this style */
	transition: max-height 3s ease;

}

/* /////////////// */
/* *CHILD ACCORDION >> CLOSED */
/* ////////////// */
/* style content inside child accordion */
.child-accordion-content {
	/* outline: 2px solid red; */

	max-height: 0;

	overflow: hidden;

	transition: max-height 700ms ease;

}

/* /////////////// */
/* *CHILD ACCORDION >> OPENED */
/* ////////////// */
/* button */
.child-accordion button[aria-expanded="true"] {
	border-bottom: 3px solid var(--clr-secondary-650);
	/* border-right: 3.5px solid var(--clr-secondary-650); */


	/* ////////////// */
	&:hover {
		background-color: var(--clr-grays-700);
	}
}

/* title */
.child-accordion button[aria-expanded="true"] .child-accordion-title {
	color: var(--clr-tertiary-200);
}

/* circle */
.child-accordion button[aria-expanded="true"] .icon {
	background-color: var(--clr-grays-610);
}

/* arrow */
.child-accordion button[aria-expanded="true"] .icon::before {

	border: 3px solid var(--clr-neutral-white-2);
	border-right: none;
	border-bottom: none;

	transition: all 500ms ease;
}

.child-accordion button[aria-expanded="true"]+.child-accordion-content {
	/* outline: 2px solid red; */

	max-height: 50rem;

	/* controls the transition when opening-->going to this style */
	transition: max-height 3s ease;

}