/* contains styles for INVESTMENT PAGE: */
/* HOW TO GET STARTED section */



/** Mobile view */
/* max-width: 691px */
@media screen and (width <=43.18em) {
  .fund-get-started__section {
    /* outline: 4px solid indigo; */

    width: 100%;
    padding: 0 0 10rem 0;
  }

  .fund-get-started__container {
    /* outline: 4px solid pink; */

    width: 100%;
    padding: 4rem 0.2rem 4rem 0.2rem;
    box-shadow: var(--gen-shadow-3d-02);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .fund-get-started__header__container {
    /* outline: 2px solid grey; */

    width: 100%;

    /* ////////////// */
    .fund-get-started__header {
      /* outline: 2px solid skyblue; */

      width: 100%;
      text-align: center;
      font-family: var(--ff-primary);
      font-size: var(--fs-550);
      font-weight: var(--fw-bold);
      line-height: 1.3;
      color: var(--clr-primary-650);
      text-transform: capitalize;

      /* //////////// */
      @media screen and (width > 300px) and (width <=361px) {
        font-size: var(--fs-600);
      }

      /* //////////// */
      @media screen and (width <=300px) {
        font-size: var(--fs-700);
      }
    }
  }

  .fund-get-started__wrapper {
    /* outline: 2px solid black; */

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2rem;
  }

  .fund-get-started__number-steps__container {
    /* outline: 2px solid red; */

    padding: 1rem 0 0 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;

    /* ///////////// */
    .fund-get-started__number-steps {
      background-color: var(--clr-secondary-650);

      padding: 1rem 1.5rem;
      border-radius: 50%;

      font-family: var(--ff-primary);
      font-size: var(--fs-800);
      font-weight: var(--fw-bold);
      line-height: 1.3;

      /* //////////// */
      @media screen and (width > 200px) and (width <=400px) {
        padding: 0.5rem 1rem;
      }
    }

    /* ///////////////// */
    .get-started__horizontal__line {
      width: 0%;
      border: 1px solid var(--clr-grays-650);
    }

    /* to align the numbers with the text below */
    /* ///////////// */
    @media screen and (width >420px) and (width <=691px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        min-height: 45px;
      }
    }

    /* ///////////// */
    @media screen and (width >400px) and (width <=420px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        min-height: 55px;
      }
    }

    /* //////////// */
    @media screen and (width > 330px) and (width <=400px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        min-height: 65px;
      }
    }

    /* //////////// */
    @media screen and (width > 310px) and (width <=330px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        min-height: 75px;
      }
    }

    /* //////////// */
    @media screen and (width <=310px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        min-height: 85px;
      }
    }
  }

  .fund-get-started__text-steps__container {
    /* outline: 2px solid black; */

    width: 100%;
    padding: 1rem 0 0 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 3rem;

    /* /////////////// */
    .fund-get-started__text-steps {
      /* outline: 2px solid brown; */

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      row-gap: 0.5rem;
    }

    /* //////////////// */
    .fund-get-started__text-steps-header {
      font-family: var(--ff-primary);
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      line-height: 1.3;
      text-transform: capitalize;
      text-align: left;
      color: var(--clr-primary-650);

      /* //////////// */
      @media screen and (width <=361px) {
        font-size: var(--fs-800);
      }
    }

    /* //////////// */
    .fund-get-started__text-steps-p {
      font-family: var(--ff-primary);
      font-size: var(--fs-800);
      font-weight: var(--fw-regular);
      line-height: 1.5;
      text-align: left;
      color: black;
    }
  }

  .get-started__start__now {
    /* outline: 2px solid brown; */

    /* /////////// */
    .get-started__start__now__link {
      /* outline: 2px solid cyan; */

      border-radius: 12px;
      font-size: var(--fs-700);
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* *(min-width > 691px ) & (max-width <= 875px) */
@media screen and (width > 43.18em) and (width <=54.69em) {
  .fund-get-started__section {
    /* outline: 4px solid indigo; */

    width: 100%;
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding: 0 0 8rem 0;
  }

  .fund-get-started__container {
    /* outline: 4px solid pink; */

    width: 100%;
    padding: 4rem 0.2rem 4rem 0.2rem;
    box-shadow: var(--gen-shadow-3d-02);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .fund-get-started__header__container {
    /* outline: 2px solid grey; */

    width: 100%;

    /* ////////////// */
    .fund-get-started__header {
      /* outline: 2px solid skyblue; */

      width: 100%;
      text-align: center;
      font-family: var(--ff-primary);
      font-size: var(--fs-500);
      font-weight: var(--fw-bold);
      line-height: var(--lh-600);
      letter-spacing: 1px;
      color: var(--clr-primary-650);
      text-transform: capitalize;
    }
  }

  .fund-get-started__wrapper {
    /* outline: 2px solid black; */

    width: 100%;
  }

  .fund-get-started__number-steps__container {
    /* outline: 2px solid red; */

    width: 100%;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    /* ///////////// */
    .fund-get-started__number-steps {
      background-color: var(--clr-secondary-650);

      padding: 1rem 1.5rem;
      border-radius: 50%;

      font-family: var(--ff-primary);
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      line-height: var(--lh-410);
      letter-spacing: 1px;
    }

    /* ///////////////// */
    .get-started__horizontal__line {
      width: 24%;
      border: 1px solid var(--clr-grays-650);
    }

    /* to align the numbers with the text below */
    /* ///////////// */
    @media screen and (width > 671px) and (width <=831px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        width: 23%;
      }
    }

    /* ///////////// */
    @media screen and (width <=671px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        width: 22%;
      }
    }
  }

  .fund-get-started__text-steps__container {
    /* outline: 2px solid black; */

    width: 100%;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 4rem;

    /* /////////////// */
    .fund-get-started__text-steps {
      /* outline: 2px solid brown; */

      width: 35%;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      row-gap: 1rem;
      text-align: center;
    }

    /* to align the numbers with the text below */
    /* /////////// */
    @media screen and (width > 691px) and (width <=831px) {
      .fund-get-started__text-steps {
        /* outline: 2px solid gold; */

        width: 27%;
        min-height: 100px;
      }
    }

    /* //////////////// */
    .fund-get-started__text-steps-header {

      font-family: var(--ff-primary);
      font-size: var(--fs-600);
      font-weight: var(--fw-bold);
      letter-spacing: 1px;
      text-transform: capitalize;
      text-align: center;
      color: var(--clr-primary-650);

      /* ///////////// */
      @media screen and (width > 691px) and (width <=832px) {
        /* outline: 2px solid rosybrown; */

        width: 100%;
        max-width: 150px;
      }
    }

    /* //////////// */
    .fund-get-started__text-steps-p {
      font-family: var(--ff-primary);
      font-size: var(--fs-800);
      font-weight: var(--fw-regular);
      line-height: var(--lh-400);
      letter-spacing: 1px;
      color: black;
    }
  }

  .get-started__start__now {
    /* outline: 2px solid brown; */

    /* /////////// */
    .get-started__start__now__link {
      /* outline: 2px solid cyan; */

      border-radius: 12px;
      font-size: var(--fs-700);
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {
  .fund-get-started__section {
    /* outline: 4px solid indigo; */

    width: 100%;
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding: 0 0 12rem 0;
  }

  .fund-get-started__container {
    /* outline: 4px solid pink; */

    width: 100%;
    padding: 4rem 0.2rem;
    border-radius: 12px;
    box-shadow: var(--gen-shadow-3d-02);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    /* /////////////// */
    @media screen and (width <=1460px) {
      border-radius: 0;
    }
  }

  .fund-get-started__header__container {
    /* outline: 2px solid grey; */

    width: 100%;

    /* ////////////// */
    .fund-get-started__header {
      /* outline: 2px solid skyblue; */

      width: 100%;
      text-align: center;
      font-family: var(--ff-primary);
      font-size: var(--fs-400);
      font-weight: var(--fw-bold);
      line-height: var(--lh-600);
      letter-spacing: 1px;
      color: var(--clr-primary-650);
      text-transform: capitalize;
    }
  }

  .fund-get-started__wrapper {
    /* outline: 2px solid black; */

    width: 100%;
    padding: 0 1rem;
  }

  .fund-get-started__number-steps__container {
    /* outline: 2px solid red; */

    width: 100%;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    /* ///////////// */
    .fund-get-started__number-steps {
      background-color: var(--clr-secondary-650);

      padding: 1rem 1.5rem;
      border-radius: 50%;

      font-family: var(--ff-primary);
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      line-height: var(--lh-410);
      letter-spacing: 1px;
    }

    /* ///////////////// */
    .get-started__horizontal__line {
      width: 28%;
      border: 1px solid var(--clr-grays-650);
    }

    /* to align the numbers with the text below */
    /* /////////// */
    @media screen and (width < 1310px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        width: 27%;
      }
    }

    /* /////////// */
    @media screen and (width < 1160px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        width: 26%;
      }
    }

    /* /////////// */
    @media screen and (width < 1050px) {
      .get-started__horizontal__line {
        /* outline: 2px solid gold; */

        width: 25%;
      }
    }
  }

  .fund-get-started__text-steps__container {
    /* outline: 2px solid black; */

    width: 100%;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 4rem;

    /* /////////////// */
    .fund-get-started__text-steps {
      /* outline: 2px solid brown; */

      width: 35%;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      text-align: center;
    }

    /* to align the numbers with the text below */
    /* /////////// */
    @media screen and (width < 1160px) {
      .fund-get-started__text-steps {
        /* outline: 2px solid gold; */

        width: 30%;
      }
    }

    /* /////////// */
    @media screen and (width < 1050px) {
      .fund-get-started__text-steps {
        /* outline: 2px solid gold; */

        width: 30%;
      }
    }

    /* //////////////// */
    .fund-get-started__text-steps-header {
      font-family: var(--ff-primary);
      font-size: var(--fs-600);
      font-weight: var(--fw-bold);
      letter-spacing: 1px;
      text-transform: capitalize;
      text-align: center;
      color: var(--clr-primary-650);
    }

    /* //////////// */
    .fund-get-started__text-steps-p {
      /* outline: 2px solid royalblue; */

      width: 100%;
      max-width: 300px;
      margin: 0 auto;

      font-family: var(--ff-primary);
      font-size: var(--fs-800);
      font-weight: var(--fw-regular);
      line-height: var(--lh-400);
      letter-spacing: 1px;
      color: black;
    }
  }

  .get-started__start__now {
    /* outline: 2px solid brown; */

    /* /////////// */
    .get-started__start__now__link {
      /* outline: 2px solid cyan; */

      border-radius: 12px;
      font-size: var(--fs-600);
    }
  }
}