/* contains style for header for the training section */

.training__header__section {
  /* outline: 4px solid blue; */

  padding: 0.2rem 0;

  width: 100%;
  max-width: var(--width__1440px);
  margin: 0 auto;
  background-color: var(--clr-gen-website-bckgrd-svg1);

  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.training__header__container {
  /* outline: 4px solid green; */

  width: 100%;
  max-width: var(--width__1440px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.training__header__picture__link {
  /* outline: 2px solid red; */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  /* //////////////// */
  @media screen and (width <=500px) {
    width: 140px;
    height: 30px;
  }

  /* //////////////// */
  @media screen and (width > 500px) and (width <=875px) {
    width: 180px;
    height: 35px;
  }

  /* //////////////// */
  @media screen and (width > 875px) {
    width: 230px;
    height: 50px;
  }
}

.training__header__picture {
  /* outline: 2px solid orange; */

  width: 100%;
}