/* contains styles for: training-focus section of the training webpage */



/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {
  .training__focus__section {
    /* outline: 4px solid goldenrod; */

    width: var(--width__always-fill);
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-bottom: 8rem;
  }

  .training__focus__main-container {
    width: 95%;
    margin: 0 auto;
  }

  /* first half of the card */
  .training__focus__container {
    /* outline: 4px solid black; */

    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0;

    border-radius: 12px;
    border: 0.1px solid hsla(0, 0%, 0%, 0.2);
    background-color: var(hsl(206, 5%, 90%, 1));
    background-image: linear-gradient(150deg,
        hsla(0, 0%, 100%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1));

    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
  }

  .training__focus__header {
    /* outline: 2px solid purple; */

    padding-bottom: 2rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    line-height: 1.5;
    letter-spacing: -3%;
    text-transform: none;
    text-align: center;
    color: var(--clr-secondary-650);

    /* /////////////// */
    @media screen and (width <=350px) {
      width: 100%;
      padding: 0 1rem 1rem 1rem;
      font-size: var(--fs-00);
    }
  }

  .training__focus-card__container {
    /* outline: 2px solid blue; */

    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .training__focus-card__list {
    /* outline: 2px solid pink; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    /* due to the arrow div that already added height */
    padding-bottom: 0rem;
  }

  .training__focus-card__list-items {
    /* outline: 2px solid green; */

    /* height: 200px; */
    width: 100%;
    padding: 0 2rem;
    list-style: none;

    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-800);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    color: black;

    /* /////////////// */
    @media screen and (width <=350px) {
      padding: 0 1rem;
    }
  }

  /* kinda-middle of the card */
  /* drawing the downward arrow */
  .drawing-an-arrow {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border: none;
    background-color: hsl(206, 5%, 90%, 1);

    rotate: 45deg;
    translate: 0 10px;
  }

  /* second half of the card */
  .training__features-card__container {
    /* outline: 2px solid indianred; */

    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
    padding-bottom: 2rem;
  }

  .training__features-card__list {
    /* outline: 2px solid lightsalmon; */

    padding-top: 2rem;
  }

  .training__features-card__list-items {
    /* outline: 2px solid gray; */

    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-800);
    color: var(--clr-secondary-650);
  }

}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.69em) {
  .training__focus__section {
    /* outline: 4px solid goldenrod; */

    width: var(--width__always-fill);
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-bottom: 10rem;
  }

  .training__focus__main-container {
    width: 95%;
    margin: 0 auto;
  }

  /* first half of the card */
  .training__focus__container {
    /* outline: 4px solid black; */

    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0;

    border-radius: 12px;
    border: 0.1px solid hsla(0, 0%, 0%, 0.2);
    background-color: var(hsl(206, 5%, 90%, 1));
    background-image: linear-gradient(150deg,
        hsla(0, 0%, 100%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1));

    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
  }

  .training__focus__header {
    /* outline: 2px solid purple; */

    padding-bottom: 2rem;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;

    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-550);
    line-height: 1.3;
    letter-spacing: -3%;
    text-transform: none;
    text-align: center;
    color: var(--clr-secondary-650);
  }

  .training__focus-card__container {
    /* outline: 2px solid blue; */

    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .training__focus-card__list {
    /* outline: 2px solid pink; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    /* due to the arrow div that already added height */
    padding-bottom: 0rem;
  }

  .training__focus-card__list-items {
    /* outline: 2px solid green; */

    /* height: 200px; */
    width: 100%;
    list-style: none;

    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    color: var(--clr-primary-650);
  }

  /* kinda-middle of the card */
  /* drawing the downward arrow */
  .drawing-an-arrow {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: none;
    background-color: hsl(206, 5%, 90%, 1);

    rotate: 45deg;
    translate: 0 15px;
  }

  /* second half of the card */
  .training__features-card__container {
    /* outline: 2px solid indianred; */

    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
    padding-bottom: 2rem;
  }

  .training__features-card__list {
    /* outline: 2px solid lightsalmon; */

    padding-top: 3rem;
  }

  .training__features-card__list-items {
    /* outline: 2px solid gray; */

    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    color: var(--clr-secondary-650);
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {
  .training__focus__section {
    /* outline: 4px solid goldenrod; */

    width: var(--width__always-fill);
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-bottom: 12rem;
  }

  .training__focus__main-container {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
  }

  /* first half of the card */
  .training__focus__container {
    /* outline: 4px solid black; */

    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0;

    border-radius: 12px;
    border: 0.1px solid hsla(0, 0%, 0%, 0.2);
    background-color: var(hsl(206, 5%, 90%, 1));
    background-image: linear-gradient(150deg,
        hsla(0, 0%, 100%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1),
        hsl(206, 5%, 90%, 1));

    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
  }

  .training__focus__header {
    /* outline: 2px solid purple; */

    padding-bottom: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-550);
    line-height: 1.3;
    letter-spacing: -3%;
    text-transform: none;
    text-align: center;
    color: var(--clr-secondary-650);
  }

  .training__focus-card__container {
    /* outline: 2px solid blue; */

    width: 100%;
    margin: 0 auto;
  }

  .training__focus-card__list {
    /* outline: 2px solid pink; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    /* due to the arrow div that already added height */
    padding-bottom: 0rem;
  }

  .training__focus-card__list-items {
    /* outline: 2px solid green; */

    width: 100%;
    list-style: none;

    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    color: var(--clr-primary-650);
  }

  /* kinda-middle of the card */
  /* drawing the downward arrow */
  .drawing-an-arrow {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: none;
    background-color: hsl(206, 5%, 90%, 1);

    rotate: 45deg;
    translate: 0 20px;
  }

  /* second half of the card */
  .training__features-card__container {
    /* outline: 2px solid indianred; */

    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
    padding-bottom: 2rem;
  }

  .training__features-card__list {
    /* outline: 2px solid lightsalmon; */

    padding-top: 3rem;
  }

  .training__features-card__list-items {
    /* outline: 2px solid gray; */

    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    color: var(--clr-secondary-650);
  }

}


/*        */
/*        */
/*        */
/*        */
/*        */
/** ---ANIMATION--- */
.drawing-an-arrow {
  /* name of animation */
  animation-name: div_arrow_color_change;

  /* how long the animation will last */
  animation-duration: 10s;

  /* how long b4 animation starts */
  animation-delay: 0ms;

  /* how many times the animation will run */
  animation-iteration-count: infinite;

  /* should it be played normal/reverse/alternate/alternate-reverse */
  animation-direction: normal;

  /* speed curve of animation */
  animation-timing-function: ease-in-out;

  /* the styles animation will apply when b4 it start/after it ends/both  */
  animation-fill-mode: none;
}

@keyframes div_arrow_color_change {
  0% {
    background-color: white;
  }

  50% {
    background-color: hsl(206, 5%, 90%, 1);
  }

  100% {
    background-color: white;
  }
}

.training__focus__section:hover {
  /* this pause or play animation. you can use JS to do this or hover */
  animation-play-state: paused;
}