/* *contains styles for: header of the our plans' page */


/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {
  .fund__heading-for-pages__section {
    /* outline: 4px solid gold; */

    width: 100%;
    padding-bottom: 2rem;
  }

  .fund__heading-for-pages__container {
    /* outline: 4px solid green; */

    width: 100%;
    padding: 0 1rem;
  }

  .fund__heading-for-pages__content-title {
    /* outline: 2px solid blue; */
    padding-bottom: 1rem;

    text-align: center;
    text-transform: capitalize;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-450);
    line-height: 1.3;
    color: var(--clr-primary-650);
  }


  .fund__heading-for-pages__content-subtitle {
    /* outline: 2px solid maroon; */

    width: 95%;
    margin: 0 auto;

    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-800);
    line-height: 1.5;
    color: black;
    text-align: center;
  }

  /* .fund__heading-for-pages__content-parag {
    outline: 2px dashed blue;

    text-align: center;
    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-800);
    line-height: var(--lh-410);
    color: var(--clr-primary-650);
    padding: 1rem 0rem;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  } */
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.69em) {
  .fund__heading-for-pages__section {
    /* outline: 4px solid gold; */

    width: 100%;
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .fund__heading-for-pages__container {
    /* outline: 4px solid green; */

    width: 100%;
  }

  .fund__heading-for-pages__content-title {
    /* outline: 2px solid blue; */
    padding-bottom: 1rem;

    text-align: center;
    text-transform: capitalize;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    line-height: 1.3;
    color: var(--clr-primary-650);
  }

  .fund__heading-for-pages__content-subtitle {
    /* outline: 2px solid maroon; */

    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-700);
    line-height: 1.5;
    color: black;
    text-align: center;
  }

  /* .fund__heading-for-pages__content-parag {
    outline: 2px dashed blue;

    text-align: center;
    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-800);
    line-height: var(--lh-410);
    color: var(--clr-primary-650);
    padding: 1rem 0;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  } */
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {
  .fund__heading-for-pages__section {
    /* outline: 4px solid gold; */

    width: 100%;
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .fund__heading-for-pages__container {
    /* outline: 4px solid green; */

    width: 100%;
  }

  .fund__heading-for-pages__content-title {
    /* outline: 2px solid blue; */
    padding-bottom: 1rem;

    text-align: center;
    text-transform: capitalize;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
    line-height: 1.3;
    color: var(--clr-primary-650);
  }

  .fund__heading-for-pages__content-subtitle {
    /* outline: 2px solid maroon; */

    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* padding: 1rem 0; */

    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-700);
    line-height: 1.5;
    color: black;
    text-align: center;

  }

  /* 
  .fund__heading-for-pages__content-parag {
    outline: 2px dashed blue;

    text-align: center;
    text-transform: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    line-height: var(--lh-410);
    color: var(--clr-primary-650);
    padding: 1rem 0;
  } */
}