/* contains styles for Investment Plan's Page investment features section */

/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {
  .about-plan__sav-inv__section {
    /* outline: 4px solid red; */

    width: 100%;
    padding-top: 0rem;
    padding-bottom: 8rem;

    /* /////////////// */
    &:hover {

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        filter: brightness(100%);
      }
    }
  }

  .about-plan__sav-inv__container {
    /* outline: 4px solid blueviolet; */

    width: 98%;
    margin: 0 auto;
  }

  /* major styling for the card */
  .about-plan__sav-inv__features {
    /* outline: 2px solid gold; */

    padding: 3rem 0rem;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 300px;

    background-color: var(--clr-tertiary-200);
    border: none;
    border-radius: 12px;
    box-shadow: var(--gen-shadow-3d-01);

    transition: all 0.5s ease-in-out;

    /* /////////////// */
    &:hover {
      filter: brightness(110%);

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        scale: 1.1;
        filter: brightness(100%);
      }
    }

    /* /////////////// */
    &:active {
      scale: 1.05;
      filter: brightness(110%);
    }
  }

  .about-plan__sav-inv__features-list {
    /* outline: 2px solid pink; */

    font-size: var(--fs-700);
    color: var(--clr-pure-white);
    text-transform: none;
    text-decoration: none;
    list-style: none;
    text-align: center;

    width: 100%;
    padding-bottom: 2rem;

    /* ////////////// */
    @media screen and (width <=320px) {
      font-size: var(--fs-800);
    }
  }

  .about-plan__sav-inv__features-items {
    /* outline: 2px solid peru; */

    padding-bottom: 3rem;
    width: 100%;
  }

  .about-plan__cta__link {
    /* outline: 2px solid pink; */

    display: block;

    width: 90%;
    max-width: 400px;
    margin: 0 auto;

    font-family: var(--ff-btn);
    font-weight: var(--fw-bold);
    font-size: var(--fs-800);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    color: var(--clr-neutral-white-2);

    padding: 1rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    border: 0.1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 8px 8px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 16px 16px hsla(0, 0%, 0%, 0.3);

    background-color: var(--clr-secondary-650);
    background-image: linear-gradient(150deg,
        var(--clr-secondary-500),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650));

    transition: all 500ms ease-in-out;

    /* ////////////// */
    &:hover {
      color: black;
    }

    /* /////////// */
    &:active {
      transform: translateY(8px);

      box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
      box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);

      background-image: linear-gradient(150deg,
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650));

      transition: all 150ms ease-in-out;
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.69em) {
  .about-plan__sav-inv__section {
    /* outline: 4px solid red; */

    width: 100%;
    padding-top: 0rem;
    padding-bottom: 10rem;

    /* /////////////// */
    &:hover {

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        scale: 1.1;
        filter: brightness(100%);
      }
    }
  }

  .about-plan__sav-inv__container {
    /* outline: 4px solid blueviolet; */

    width: 98%;
    margin: 0 auto;
  }

  /* major styling for the card */
  .about-plan__sav-inv__features {
    /* outline: 2px solid gold; */

    padding: 3rem 0rem;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 300px;

    background-color: var(--clr-tertiary-200);
    border: none;
    border-radius: 12px;
    box-shadow: var(--gen-shadow-3d-01);

    transition: all 0.5s ease-in-out;

    /* //////////// */
    @media screen and (width > 500px) and (width <=600px) {
      max-width: 400px;
      margin: 0 auto;
    }

    /* /////////////// */
    &:hover {
      filter: brightness(110%);

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        scale: 1.1;
        filter: brightness(100%);
      }
    }

    /* /////////////// */
    &:active {
      scale: 1.05;
      filter: brightness(110%);
    }
  }

  .about-plan__sav-inv__features-list {
    /* outline: 2px solid pink; */

    font-size: var(--fs-700);
    color: var(--clr-pure-white);
    text-transform: none;
    text-decoration: none;
    list-style: none;
    text-align: center;

    width: 100%;
    padding-bottom: 2rem;
  }

  .about-plan__sav-inv__features-items {
    /* outline: 2px solid peru; */

    padding-bottom: 3rem;
    width: 100%;
  }

  .about-plan__cta__link {
    /* outline: 2px solid pink; */

    display: block;

    width: 90%;
    max-width: 400px;
    margin: 0 auto;

    font-family: var(--ff-btn);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    color: var(--clr-neutral-white-2);

    padding: 1rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    border: 0.1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 8px 8px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 16px 16px hsla(0, 0%, 0%, 0.3);

    background-color: var(--clr-secondary-650);
    background-image: linear-gradient(150deg,
        var(--clr-secondary-500),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650));

    transition: all 500ms ease-in-out;

    /* //////////// */
    @media screen and (width > 500px) and (width <=600px) {
      font-size: var(--fs-800);
    }

    /* ////////////// */
    &:hover {
      color: black;
    }

    /* /////////// */
    &:active {
      transform: translateY(8px);

      box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
      box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);

      background-image: linear-gradient(150deg,
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650));

      transition: all 150ms ease-in-out;
    }
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {
  .about-plan__sav-inv__section {
    /* outline: 4px solid red; */

    width: 100%;
    max-width: var(--width__1440px);
    margin: 0 auto;
    padding-top: 0rem;
    padding-bottom: 12rem;

    /* /////////////// */
    &:hover {

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        scale: 1.1;
        filter: brightness(100%);
      }
    }
  }

  .about-plan__sav-inv__container {
    /* outline: 4px solid blueviolet; */

    width: 98%;
    margin: 0 auto;
  }

  /* major styling for the card */
  .about-plan__sav-inv__features {
    /* outline: 2px solid gold; */

    padding: 3rem 0rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 300px;

    background-color: var(--clr-tertiary-200);
    border: none;
    border-radius: 12px;
    box-shadow: var(--gen-shadow-3d-01);

    transition: all 0.5s ease-in-out;

    /* /////////////// */
    &:hover {
      filter: brightness(110%);

      /* /////////////// */
      .about-plan__cta__link {
        transform: translateY(-4px);
        scale: 1.1;
        filter: brightness(100%);
      }
    }

    /* /////////////// */
    &:active {
      scale: 1.05;
      filter: brightness(110%);
    }
  }

  .about-plan__sav-inv__features-list {
    /* outline: 2px solid pink; */

    font-size: var(--fs-600);
    color: var(--clr-pure-white);
    text-transform: none;
    text-decoration: none;
    list-style: none;
    text-align: center;

    width: 100%;
    padding-bottom: 2rem;

  }

  .about-plan__sav-inv__features-items {
    /* outline: 2px solid peru; */

    padding-bottom: 3rem;
    width: 100%;
  }

  .about-plan__cta__link {
    /* outline: 2px solid pink; */

    display: block;

    width: 80%;
    max-width: 400px;
    margin: 0 auto;

    font-family: var(--ff-btn);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    color: var(--clr-neutral-white-2);

    padding: 1rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    border: 0.1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 8px 8px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 16px 16px hsla(0, 0%, 0%, 0.3);

    background-color: var(--clr-secondary-650);
    background-image: linear-gradient(150deg,
        var(--clr-secondary-500),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650),
        var(--clr-secondary-650));

    transition: all 500ms ease-in-out;

    /* ////////////// */
    &:hover {
      color: black;
    }

    /* /////////// */
    &:active {
      transform: translateY(8px);

      box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
      box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);

      background-image: linear-gradient(150deg,
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650),
          var(--clr-secondary-650));

      transition: all 150ms ease-in-out;
    }
  }
}

/* *specifically for QG-12 design */
.qg-12__sav-in__features {
  background-color: var(--clr-secondary-650);
}

.qg-12__sav-inv__features-list {
  color: black;
}

.qg-12__cta__link {

  background-color: var(--clr-tertiary-200);
  background-image: linear-gradient(150deg,
      var(--clr-primary-100),
      var(--clr-tertiary-200),
      var(--clr-tertiary-200),
      var(--clr-tertiary-200),
      var(--clr-tertiary-200),
      var(--clr-tertiary-200),
      var(--clr-tertiary-200));

  transition: all 500ms ease-in-out;

  /* ////////////// */
  &:hover {
    color: black;
  }

  /* /////////// */
  &:active {
    transform: translateY(8px);

    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);

    background-image: linear-gradient(150deg,
        var(--clr-tertiary-200),
        var(--clr-tertiary-200),
        var(--clr-tertiary-200),
        var(--clr-tertiary-200),
        var(--clr-tertiary-200),
        var(--clr-tertiary-200));

    transition: all 150ms ease-in-out;
  }
}