/** This Section of code contains styles for the hero section of the homepage */

/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {

	/* when you hover on gen-container, prepare to keep changing contents of hero__animate__text  */
	.gen-container:hover .hero__animate__text {
		will-change: contents;
	}

	/* ////////////////// */
	/* /////////////// */
	/* //////////// */
	.hero__container {
		/* outline: 4px solid red; */

		width: var(--width__always-fill);
		text-align: center;
		min-height: 40dvh;
	}

	.hero__background {
		width: 100%;

		text-align: center;
		background-color: hsl(0, 0%, 50%);
		background-image: linear-gradient(270deg,
				var(--clr-primary-600),
				var(--clr-primary-100));

		min-height: 40dvh;
	}

	.hero__content {
		/* outline: 4px solid green; */

		min-height: 40dvh;
	}

	/* ////////////////// */
	/* /////////////// */
	/* //////////// */

	.hero__image-container {
		display: none;
		visibility: hidden;
	}

	/* /////////// */
	.hero__texts {
		/* outline: 4px solid green; */

		width: 100%;
		text-align: center;
		padding: 2rem 1rem 1rem 1rem;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		row-gap: 2.5rem;
	}

	.hero__carousel {
		font-family: var(--ff-secondary);
		font-weight: var(--fw-bold);
		font-size: var(--mfs__hero__carousel);
		line-height: var(--lh-700);
		letter-spacing: var(--mls__hero__carousel);
		color: var(--clr-neutral-white-2);
	}

	.hero__statement {
		/* outline: 2px solid red; */

		color: var(--clr-grays-700);
		font-family: var(--ff-primary);
		font-weight: var(--fw-regular);
		font-size: var(--fs-600);
		line-height: var(--lh-500);
		letter-spacing: var(--mls__hero__statement);
	}

	.hero__cta {
		/* outline: 2px solid indianred; */

		width: 80%;
		margin: 0 auto;
		border-radius: 1.5rem;

		/* /////////// */
		.hero__cta__btn {
			/* outline: 2px solid orange; */

			display: block;
			width: 100%;
			padding: 0.625rem 1.25rem;
			background-color: var(--clr-primary-650);
			color: var(--clr-neutral-white-01);
			cursor: pointer;
			border-radius: 1.5rem;

			font-family: var(--ff-primary);
			font-size: var(--mfs__hero__cta__btn);
			font-weight: var(--fw-semi-bold);
			line-height: var(--lh-410);
			letter-spacing: normal;
			text-decoration: none;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			/* ////////////////// */
			&::after {
				content: "";
				display: inline-block;
				border: 2.5px solid var(--clr-neutral-white-01);
				padding: 0.3rem;
				margin-left: 1rem;
				vertical-align: baseline;

				transform: rotate(45deg);
				border-left: 0px;
				border-bottom: 0px;
			}

			/* //////////// */
			&:hover {
				scale: 1.05;
				opacity: 0.9;
			}

			/* ///////////// */
			&:active {
				background-color: var(--clr-bckgrd-btn-pri-pressed);
				opacity: 1;
			}
		}
	}

	.hero__cred {
		/* outline: 2px solid indigo; */

		/* /////////// */
		.hero__cred__text-1 {
			color: var(--clr-secondary-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-800);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			/* text-align: left; */
			text-align: center;
			padding: 0 0 0.5rem 0;
		}

		/* ////////////// */
		.hero__cred__text-2 {
			/* outline: 2px solid maroon; */

			color: var(--clr-grays-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-700);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			column-gap: 2rem;

			padding-left: 1rem;
		}

		/* ///////////////////// */
		/* ///////////////////// */
		/* for screen size with width < 299px */
		@media screen and (width < 18.69em) {

			/* /////////// */
			.hero__cred__text-1 {
				text-align: center;
			}

			.hero__cred__text-2 {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				row-gap: 0.5rem;

				padding-left: 0;
			}
		}
	}
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.69em) {
	/* ////////////////// */
	/* /////////////// */
	/* //////////// */

	/* when you hover on gen-container, prepare to keep changing contents of hero__animate__text  */
	.gen-container:hover .hero__animate__text {
		will-change: contents;
	}


	.hero__container {
		/* outline: 2px solid red; */

		width: var(--width__always-fill);
		text-align: center;
		min-height: 40dvh;
	}

	.hero__background {
		width: 100%;

		text-align: center;
		background-color: hsl(0, 0%, 50%);
		background-image: linear-gradient(270deg,
				var(--clr-primary-600),
				var(--clr-primary-100));

		min-height: 40dvh;
	}

	.hero__content {
		/* outline: 2px solid brown; */

		min-height: 40dvh;
		width: 90%;
		max-width: var(--width__1200px);
		margin: 0 auto;
		padding: 3rem 0 0 0;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
	}

	/* ////////////////// */
	/* /////////////// */
	/* //////////// */

	.hero__texts {
		/* outline: 2px solid white; */

		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		row-gap: 2.5rem;
	}

	.hero__carousel {
		/* outline: 2px solid red; */

		font-family: var(--ff-secondary);
		font-weight: var(--fw-bold);
		font-size: var(--t-fs__hero__carousel);
		line-height: var(--lh-800);
		letter-spacing: var(--t-ls__hero__carousel);
		color: var(--clr-neutral-white-2);
	}

	.hero__statement {
		/* outline: 2px solid pink; */

		padding-left: 2rem;
		padding-right: 2rem;

		color: var(--clr-grays-700);
		font-family: var(--ff-primary);
		font-weight: var(--fw-regular);
		font-size: var(--fs-700);
		line-height: var(--lh-500);
		letter-spacing: var(--t-ls__hero__statement);
	}

	.hero__cta {
		max-width: var(--t-width__cta-btn);
		margin: 0 auto;

		/* /////////// */
		.hero__cta__btn {
			/* outline: 2px solid orange; */

			width: 50%;
			margin: 0 auto;
			min-width: 19rem;

			padding: 0.625rem 1.25rem;
			background-color: var(--clr-primary-650);
			color: var(--clr-neutral-white-01);
			letter-spacing: normal;
			cursor: pointer;
			text-decoration: none;

			font-family: var(--ff-primary);
			font-size: var(--t-fs__hero__cta__btn);
			font-weight: var(--fw-semi-bold);
			line-height: var(--lh-410);
			border-radius: var(--fs-1000);
			/* 12px */

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			/* ////////// */
			&::after {
				content: "";
				display: inline-block;
				border: 2.5px solid var(--clr-neutral-white-01);
				padding: 0.3rem;
				margin-left: 1rem;
				vertical-align: baseline;

				transform: rotate(45deg);
				border-left: 0px;
				border-bottom: 0px;
			}

			/* //////////// */
			&:hover {
				scale: 1.05;
				opacity: 0.9;
			}

			/* ///////////// */
			&:active {
				background-color: var(--clr-bckgrd-btn-pri-pressed);
				opacity: 1;
			}
		}
	}

	.hero__cred {
		/* outline: 2px solid indigo; */
		margin-right: auto;
		padding: 0 0 1rem 0;

		/* /////////// */
		.hero__cred__text-1 {
			color: var(--clr-secondary-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-800);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			text-align: left;
			padding: 0 0 0.5rem 0;
		}

		/* ////////////// */
		.hero__cred__text-2 {
			/* outline: 2px solid maroon; */

			color: var(--clr-grays-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-700);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			column-gap: 2rem;
			row-gap: 0.3rem;
		}
	}

	/* /////////// */
	.hero__image-container {
		display: none;
		visibility: hidden;
	}
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px */
@media screen and (width > 54.69em) {

	/* //////////// */
	:root {
		--d-fs__hero__carousel: var(--fs-220);
		/* 58px */
		--d-fs__hero__statement: var(--fs-600);
		--d-fs__hero__cta__btn: var(--fs-700);

		--d-width__cta-btn: 18rem;
		/* uiux said 311px */
		--d-min-height__hero__container: 40dvh;
		/*708px==44.25rem */

		--d-ls__hero__carousel: calc(0.05 * var(--d-fs__hero__carousel));
		/* 5% --used fs*/

		--d-ls__hero__statement: calc(0.02 * var(--fs__hero__statement));
		/* 2% --used fs*/
	}

	/* when you hover on gen-container, 
	prepare to keep changing contents of hero__animate__text  
	*/
	.gen-container:hover .hero__animate__text {
		will-change: contents;
	}

	/* //////////////// */
	.hero__container {
		/* outline: 2px solid red; */

		width: var(--width__always-fill);
		max-width: var(--width__1440px);
		margin: 0 auto;
		text-align: center;
		min-height: 40dvh;
	}

	.hero__background {
		/* outline: 5px solid green; */

		width: var(--width__always-fill);
		/* max-width: var(--width__1440px); */
		margin: 0 auto;
		min-height: 40dvh;
		padding: 0;

		background-color: hsl(0, 0%, 50%);
		background-image: linear-gradient(270deg,
				var(--clr-primary-600),
				var(--clr-primary-100));

		text-align: center;
		overflow: visible;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		column-gap: 4rem;
	}

	.hero__content {
		/* outline: 4px solid gold; */

		flex-basis: 100%;

		min-height: 40dvh;

		padding: 6rem 0 0 0;
		align-self: flex-start;

		/** check below to see other @media for margin-left */
		margin-left: 4rem;


	}

	/* /////////////////// */
	/* to fix the issue of margin left for smaller large screens*/
	/* (width > 875px) and (width <= 1200px) */
	@media screen and (width > 54.69em) and (width <=87.5em) {
		.hero__background {
			column-gap: 1rem;
		}

		.hero__content {
			margin-left: 1rem;
		}
	}

	.hero__texts {
		/* outline: 2px solid white; */

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		row-gap: 2.5rem;
	}

	.hero__carousel {
		/* outline: 2px solid greenyellow; */

		font-family: var(--ff-secondary);
		font-weight: var(--fw-bold);
		font-size: var(--fs-200);
		/* 54px not the uiux's 58px */
		line-height: var(--lh-700);
		letter-spacing: var(--d-ls__hero__carousel);
		color: var(--clr-neutral-white-2);
		text-align: left;
	}

	.hero__statement {
		color: var(--clr-grays-700);
		font-family: var(--ff-primary);
		font-weight: var(--fw-regular);
		font-size: var(--fs-600);
		line-height: var(--lh-500);
		letter-spacing: var(--d-ls__hero__statement);
		text-align: left;
	}

	.hero__cta {
		width: var(--d-width__cta-btn);

		/* /////////// */
		.hero__cta__btn {
			/* outline: 2px solid orange; */

			width: 50%;
			min-width: 20.2rem;
			margin-right: auto;

			padding: 0.625rem 1.25rem;
			background-color: var(--clr-primary-650);
			color: var(--clr-neutral-white-01);
			letter-spacing: normal;
			cursor: pointer;
			text-decoration: none;

			font-family: var(--ff-primary);
			font-size: var(--d-fs__hero__cta__btn);
			font-weight: var(--fw-semi-bold);
			line-height: var(--lh-410);
			border-radius: var(--fs-1000);
			/* 12px */

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			/* //////// */
			&::after {
				content: "";
				display: inline-block;
				border: 2.5px solid var(--clr-neutral-white-01);
				padding: 0.3rem;
				margin-left: 1rem;
				vertical-align: baseline;

				transform: rotate(45deg);
				border-left: 0px;
				border-bottom: 0px;
			}

			/* //////// */
			&:hover {
				scale: 1.05;
				opacity: 0.9;
			}

			/* /////// */
			&:active {
				background-color: var(--clr-bckgrd-btn-pri-pressed);
				opacity: 1;
			}
		}
	}

	.hero__cred {
		/* outline: 2px solid indigo; */
		margin-right: auto;

		/* /////////// */
		.hero__cred__text-1 {
			color: var(--clr-secondary-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-800);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			text-align: left;
			padding: 0 0 0.5rem 0;
		}

		/* ////////////// */
		.hero__cred__text-2 {
			/* outline: 2px solid maroon; */

			color: var(--clr-grays-650);
			font-family: var(--ff-primary);
			font-size: var(--fs-600);
			font-weight: var(--fw-bold);
			line-height: var(--lh-400);

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			column-gap: 3.75rem;
			/* 60px */
		}
	}

	.hero__image-container {
		/* outline: 2px solid gold; */

		flex-basis: 100%;


		/* //////////// */
		.hero__image {
			width: 1200px;
			min-height: 600px;
			max-height: 1200px;
		}
	}
}